{
  snippet = { # object }, file or folder.
    '.source.coffee':
      Snippet:
        prefix: 'prefix'
        body: 'snippet'
    '.source.gfm':
      Test:
        prefix: 'hi'
        body: 'Hello World!'
      'vec{\nabla}':
        prefix: 'vn'
        body: 'vec{\\\\nabla}'
  }
}
